<header>
    <h1>{{pageTitle}}</h1>
    <p style="display:inline"><a href="/">Home</a></p>
    <p style="display:inline"><a href="/about">About</a></p>
    <p style="display:inline"><a href="/registration">Registration</a></p>
    <p style="display:inline"><a href="/projects">Projects</a></p>
    <p style="display:inline"><a href="/donda">Donda</a></p>
</header>
