<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration Page</title>
</head>
<body>
    {{> header}}
    <h1>TransitLink - User Registration Page</h1>
    <form action="">
        <div style="margin: 10px">
            <!-- <label for="firstName">First Name:</label> -->
            <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
            <!-- <label for="lastName">Last Name:</label> -->
            <input type="text" name"lastName" id="lastName" placeholder="Last Name" required>
        </div>
        <div style="margin: 10px">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="male" required>
            <label for="female">Female</label>
            <input type="radio" name="gender" value="female" required>
        </div>
        <div style="margin: 10px">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="your email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="password" required>
        </div>
        <div style="margin: 10px">
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" value="birthday" required>
        </div>
        <button>Submit</button>
    </form>
    {{> footer}}
</body>
</html>